.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group  
        = @group.name
      %ul.main-header__left-box__member-list
        Member : 
        
        %li.main-header__left-box__member-list__member
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group.id) do
      .main-header__edit-btn Edit

  .messages
    = render  @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :body, placeholder: "type a message",class: "input-box__text"
      .input-box
        = f.label :image , class: "input-box__image" do
          = icon('fas', 'image', class: "input-box__image--icon")
          = f.file_field :image, class: "input-box__image--file"
      = f.submit "Send", value: "Send" , class: "submit-btn"
